<div class="users">
  {{#each users}}
    <h2>
      Hi
      {{username}}
    </h2>
    La imagen de homero
    <img src="{{profileImg}}" />
    <p>
      {{description}}
    </p>
    <a href="/student/{{_id}}">
      <button>View student details</button>
    </a>

    {{#if ../isPM}}
    <a href="/student/{{_id}}/edit">Edit</a>
<form action="/student/{{_id}}/delete" method="post">
  <button type="submit">🗑</button>
</form>
{{/if}}

  {{/each}}
</div>